body {
	margin: 0;
	font-family: Roboto;
	height: 100%;
}

html {
	height: 100%;
}

.content {
	height: 100%;
	    z-index: 1;
    position: relative;
}

.content_hide {
	margin-left: -300px;
	opacity: .5;
}


.content__inner {
	height: 100%;
	padding-top: 75px;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

.header {
	position: fixed;
	z-index: 3;
	    background: #1c222a;
	width: 100%;
}


.content_guest {
	width: 100%;
	/*padding-right: 300px;*/
	box-sizing: border-box;
}

.header__logo {
    height: 75px;
    box-sizing: border-box;
    padding: 23px 15px;
}

.header__logo-w {
	float: left;
	height: 75px;
}

.header:after {
	clear: both;
	display: block;
	content: '';
}

.nav__item {
	text-transform: uppercase;
	color: #fff;
	line-height: 75px;
	font-weight: 300;
	padding: 0 15px;
}

.nav__item_right {
	position: absolute;
	right: 0;
	top: 0;
}

.nav__item__img {
float: left;
margin-right: 15px;
    height: 40px;
		padding-top: 17px;
}

.header__lang-img {
	display: inline-block;
}

.content {
	background: #ebf1f5;
}

.rightsidebar {
	width: 300px;
	position: fixed;
	right: 0;
	background: #ebf1f5;
	top: 0;
	display: none;
}

.login input {
	width: 100%;
}

.login__heading-nav:after {
	clear: both;
	display: block;
	content: '';
}

.login__heading-nav-item {
	float: left;
    line-height: 68px;
	width: 50%;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: .8em;
	cursor: pointer;
	color: #fff;
	background: #354052;
	border-top: 7px solid #2D3747;
}

.login__heading-nav-item_active {
	color: #2D9CDB;
	background: #EBF1F5;
	border-top: 7px solid #2D9CDB;
}


.text-center {
	text-align: center;
}

.img_full-page {
	width: 100%;
	max-width: 600px;
	margin: 15px auto;
}


.sector {
	padding: 15px;
	background: #fff;
	position: relative;
}

.sector_mini {
	padding: 0;
}

.padding {
	padding: 15px;
}

.heading {
	font-size: 2em;
	text-align: center;
	font-weight: 300;
    margin: 30px 0;
    color: #1c222a;
}

.subheading {
	font-size: 1.5em;
	font-weight: 900;
    margin: 15px 0;
}

.subheading-small {
	font-size: 1.2em;
	font-weight: 900;
    margin: 15px 0;
}

.text {
	font-weight: 300;
	font-size: .8;
}


.bg_hot {
	padding-top: 30px;
	padding-bottom: 60px;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16a4f9+1,1174af+100 */
	background: #16a4f9; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #16a4f9 1%, #1174af 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #16a4f9 1%,#1174af 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #16a4f9 1%,#1174af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a4f9', endColorstr='#1174af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg_light {
	background: #EBF1F5;
}

.bg_black {
	padding-top: 30px;
	padding-bottom: 60px;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16a4f9+1,1174af+100 */
	background: #1C222A; /* Old browsers */

}

.mousedown {
    position: absolute;
    width: 16px;
    left: 50%;
    margin-left: -8px;
    bottom: 15px;
    cursor: pointer;

}

.login__content {
	padding: 15px;
}

.login__lable {
	color: #6F7D95;
	font-weight: 300;
	font-size: .9em;
}

.login__lable-item {
	padding: 7px;
}

.login__lable-item-img {
	float: left;
	width: 50px;
	margin-right: 15px;
}

.login__lable-item-text {
	max-width: 200px;
}

.login__lable-item:after {
	clear: both;
	display: block;
	content: '';
}

.large-header {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
}

.sector {
	overflow: hidden;
}

/* profile navigation */

.profile-nav__heading {
    height: 75px;
    box-sizing: border-box;
    padding: 15px;
    background: #fff;
}

.profile-nav__heading-img {
	height: 100%;
	margin-right: 15px;
    box-sizing: border-box;
    float: left;
}

.profile-nav__heading-name{
	color: #354052;
	font-weight: 900;
}

.profile-nav__heading-login {
	color: #7C8BA6;
}

.profile-nav__wallet {
	background: #EBF1F5;
    height: 85px;
    box-sizing: border-box;
	padding: 15px;
}

.profile-nav__wallet-lable {
	color: #7C8BA6;
}

.profile-nav__wallet-amount-i {
	display: inline-block;
}

.profile-nav__wallet-amount-data {
	font-weight: 900;
	color: #354052;
	font-size: 1.6em;
}

.profile-nav__wallet-i {
	float: left;
	margin-right: 15px;
	width: 45px;
    padding: 4px;
    box-sizing: border-box;
}

.profile-nav__wallet-amount-i {
	height: 15px;
	margin-right: 3px;
}

.profile-nav__big-b {
	text-transform: uppercase;
	text-align: center;
	display: block;
	background: #354052;
	padding: 7px 15px;
	font-size: 1.6em;
	color: #fff;
	font-weight: 900;
	border-top: 7px solid #2D3747;
}

.profile-nav__big-b:hover {
	color: #fff;
}

.profile-nav__select:after {
	clear: both;
	display: block;
	content: '';
}

.profile-nav__select-item {
	width: 50%;
	float: left;
	font-weight: 900;
	text-transform: uppercase;
	color: #2D9CDB;
	background: #fff;
	border-top: 7px solid #DAE5EC;
	text-align: center;
	font-size: .9em;
	padding: 15px;
	box-sizing: border-box;
}

.profile-nav__select-item.profile-nav__select-item_active {
	background: #7C8BA6;
	color: #fff;
	border-top: 7px solid #6B7B99;
}

.profile-nav__list-item {
    padding: 13px;
    display: block;
    border-bottom: 1px solid #dae5ec;
}

.profile-nav__list-item:after {
	clear: both;
	display: block;
	content: '';
}

.profile-nav__list-item-i {
    margin-right: 15px;
    float: left;
    height: 24px;
    min-width: 33px;
}

.profile-nav__list-item-t{
    color: #7c8ba6;
    text-transform: uppercase;
    height: 37px;
    line-height: 24px;
}

/*profile content */

.level-bar {
	height: 40px;
	width: 100%;
	background: #354052;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	max-width: 300px;
}


.level-bar__ready {
	height: 40px;
	width: 30%;
	position: absolute;
	top: 0;
	left: 0;
	background: #49BBC2;
}

.level-bar__t {
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	font-weight: 900;
	line-height: 40px;
}

.profile-level__heading {
	padding-left: 96px;
	margin-bottom: 15px;
}

.profile-level__heading-login {
	font-weight: 900;
	color: #354052;
	font-size: 1.6em;
}

.profile-level__heading-level {
	color: #2D9CDB;
	font-weight: 900;
}

.profile-level__heading-i {
    position: absolute;
    z-index: 2;
    left: 30px;
}

.profile-level__heading:after {
	clear: both;
	display: block;
	content: '';
}

.profile-level__alreadygot {
	margin: 15px 0;
}

.profile-level__alreadygot-heading {
	font-weight: 900;
	font-size: 1.8em;
	color: #354052;
}

.profile-level__willget-heading {
	color: #7C8BA6;
}

.profile-level__awards-heading {
	color: #354052;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 900;
}

.profile-level__awards-list-item {
	float: left;
	width: 10%;
	padding: 3px;
    box-sizing: border-box;
}

.profile-level__awards-list {
	margin: 15px 0;
}

.profile-level__awards-list:after {
	clear: both;
	display: block;
	content: '';
}

.profile-level__chalenge-list-item-i {
	float: left;
	margin-right: 7px;
}

.profile-level__chalenge-list-item:after {
	clear: both;
	display: block;
	content: '';
}

.profile-level__chalenge-list-item {
	margin-bottom: 7px;
	color: #7C8BA6;
}

.profile-level__chalenge-list-item_done {
	color: #2D9CDB;
}

.profile-level__contribution-item:after {
	clear: both;
	display: block;
	content: '';
}

.profile-level__contribution-item-amount {
	float: left;
	min-width: 90px;
}


.profile-level__contribution-item-amount {
	font-weight: 900;
	color: #354052;
	    min-width: 85px;
}

.profile-level__contribution-item-lable {
	color: #7C8BA6;
}

.profile:after {
	clear: both;
	display: block;
	content: '';
}


.profile__left,.profile__right {
	width: 50%;
	float: left;
	box-sizing: border-box;
	position: relative;
}

.profile__left {
	width: 40%;
}

.profile__left:after {
	content: '';
	display: block;
	background: #ebf1f5;
	width: 100%;
	position: absolute;
	height:9999px;
	left: 0;
}

.profile__right {
	width: 60%;
}

.structure__item-contrubution {
	font-weight: 900;
	color: #354052;
}

.structure__item-name {
	color: #828282;
}

.structure__item-img {
	width: 40px;
}

.structure__item {
	text-align: center;
}

.structure__item-img {
	display: inline-block;
}

.structure__level-heading {
	text-align: center;
	text-transform: uppercase;
	margin: 15px 0;
	color: #BDBDBD;
	font-size: 1.2em;
	font-weight: 300;
}

.structure__item-lead {
	font-size: .8em;
	color: #BDBDBD;
}

.structure__total-amount {
	color: #828282;
	font-weight: 300;
	text-align: center;
	margin: 15px 0;
}

.profile-level__awards-list {
	max-width: 300px;
}

.history-item-amount {
	font-weight: 900;
}

.history-item_up .history-item-amount {
	color: #49BBC2;
}

.history-item_down .history-item-amount {
	color: #AE69AF;
}

.history-item-date {
	color: #BDBDBD;
}

.history-item-details {
	color: #4F4F4F;
}

.history-item-i {
	margin-right: 15px;
	float: left;
}

.history-item-date {
	position: absolute;
	right: 0;
	top: 0;
}


.history-item {
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid #eee;
}

.history-item:last-child {
	border-bottom: 0;
}

.history-item-details {
	margin-top: 7px;
	padding-bottom: 7px;
}

.footer {
	height: 300px;
    background: #dae0e4;
    padding: 150px;
    box-sizing: border-box;
    color: #a7b7c1;
    text-align: center;
}

.chart {
	display: none;
	color: #fff;
    font-weight: 900;
    padding: 7px 15px;
    background: #2d9cdb;
    height: 38px;
    box-sizing: border-box;
}

.chart__item {
	padding-right: 15px;
	display: inline-block;
}
.chart__item_lable {
	font-weight: 300;
}

.chart__item {
	font-style: normal;
}

.i-big {
	height: 60px;
	margin: 0 auto;
	padding: 15px 0;
}

.text_small-width {
	max-width: 300px;
	margin: 0 auto;
}

.subheading_thin {
	font-weight: 300;
	text-transform: uppercase;
}

.i-flag {
	max-width: 40px;
	margin: 0 auto;
}

.header_bg {
	    background: #1c222a;
}

.text_white {
	color: #fff;
}

.intro-registration {
	background: red;
}
