.cryptostats__img {
  width: 100%;
}

.cryptostats__heading {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5em;
font-weight: 900;
}

.cryptostats__heading img {
  /* float: left; */
height: 23px;
margin-bottom: -3px;
display: inline-block !important;
margin-right: 7px;
width: auto !important;
}

.cryptostats__item {
  margin-bottom: 30px;
}

.cryptostats__text {
	display: block;
}

.cryptostats__subheading {
  display: block;
}
