.header__burger {
	display: none;

  @media screen and (max-width: $media-desktop) {
    display: block;
  }
}

.nav {
  @media screen and (max-width: $media-desktop) {
    display: none !important;
  }
}
